{% extends "base.html" %}
{% block content %}
<div id="wrapper"> 
    <div id="now">
        <p>How many <span>GEEK</span>s are with you?</p>
        当前成员人数：
    </div>
    <div id="container"> 
        <div id="canvas-content"> 
            <div id="countdown"> 
                <script type="text/javascript"> 
                    document.getElementsByTagName('body')[0].style.overflow = 'hidden';
                    </script> 
                </div> 
                <script type="text/javascript" src="js/base.js"></script> 
                <script type="text/javascript" src="js/box2d.js"></script> 
                <script type="text/javascript" src="js/io.js"></script> 
            </div> 
        </div> 
    </div>
</div>
{% endblock %}
