
<!DOCTYPE html> 
<html> 
  <head> 
    <title>XDL@2011</title> 
    <link rel="stylesheet" href="/static/css/style.css" media="all"> 
    <script src="/static/js/jquery.min.js" type="text/javascript"></script> 
    {% block style %}
    
    {% endblock %}
    <!--[if lte IE 7]>
    <script type="text/javascript" src="/static/js/degrade.js"></script>
    <![endif]--> 
    {% block js %}
    
    {% endblock %}
  </head> 
  <body id="index"> 
      	<div id="label">
      		<p>以<span>极客</span>的方式加入我们!</p>
      		<h1>Join us in <span>GEEK</span>'s way!</h1>
        </div> 
        {% block content %}
        
        {% endblock %}
  </body> 
</html> 
   
