
<!DOCTYPE html> 
<html> 
    <head> 
        <title>XDL@2011</title> 
        <link rel="stylesheet" href="/static/css/style.css" media="all"> 
        {% block style %}

        {% endblock %}
        <!--[if lte IE 7]>
        <script type="text/javascript" src="/static/js/degrade.js"></script>
        <![endif]--> 
        <script src="/static/js/jquery.min.js" type="text/javascript"></script> 
        {% block js %}

        {% endblock %}
    </head> 
    <body id="index"> 
        <div id="gradient">&nbsp;</div> 
        <div id="label">
            <img src="/static/img/freeware.png" alt="" />
        </div>
        <div id="wrapper"> 
            {% block content %}

            {% endblock %}
        </div>
    </body> 
</html> 

