{% extends "base.html" %}
{% block content %}
<div id="inner">
    <form action="" method="post" id="form">
        <div id="welcome">
            <h2>Welcome</h2>
            <p>加入开源社区，共享开源乐趣</p>
            <dl>
                <dt><span id="xdlinux">西电开源社区</span>欢迎你</dt>
                <dd>
                欢迎参与西电开源社区2011招新活动，本次招新面向全校学生，欢迎不同院系不同专业的同学们踊跃参加。只需轻点鼠标，登记个人信息，即可加入我们，与我们一起分享开源带来的无尽乐趣。
                </dd>
				{% if error %}
				  <dd id='error'>您输入的学号<span>{{ student_num }}</span>已经注册,请重新开始</dd>
				{% else %}
				  <dd>还等什么？立即点击“NEXT”报名吧！ </dd>
				{% endif %}

            </dl>
        </div>
        <div id="base">
            <h2>
                Base Information 
            </h2>
            <p>登记你的基本信息<span>(请放心,我们会妥善保存您的个人信息)</span></p>
            <ul>
                <dt>
                Name 姓名:
                </dt>
                <li>
                <input type="text" name="name" id="name" />
                </li>
                <dt>
                Student Number 学号:
                </dt>
                <li>
                <input type="text" name="student_num" id="sn"/>
                </li>
                <dt>
                Mobile 手机:
                </dt>
                <li>
                <input type="text" name="mobile" id="mb">
                </li>
                <dt>
                E-Mail 电子邮箱:
                </dt>
                <li>
                <input name="email" type="email" id="email"/>
                </li>
                <dt>
                Twitter ID:
                </dt>
                <li>
                <input name="twitter_id" type="text" id="twitter"/>
                </li>
            </ul>
        </div>
        <div id="groups">
            <h2>Groups</h2>
            <p>选择你想加入的小组，开源社区将以小组为单位组织学习(必选)</p>
            <input type="hidden" name="group" id="group"/>
            {% for group in groups %}
            <div style="background:url({{ group.image }}) no-repeat">
                <input type="hidden" value="{{ group.id }}">
                <dl>
                    <dt>{{ group }}</dt>
                    <dd>
                    {{ group.describe }}
                    </dd>
                </dl>
            </div>
            {% endfor %}
        </div>
        <div id="keywords">
            <h2>Keywords</h2>
            <p>点选你比较了解或者感兴趣关键字(选填)</p>
            <div id="kws"></div>
            <input type="hidden" name="keywords" id="ikw"/>
        </div>
        <div id='confirm'>
            <h2>Confirm</h2>
            <p>确认你填写的信息！</p>
            <dl>
            <dt>确定信息都是正确的么？</dt>
            <dd>请确定你所填写的信息是真实无误且符合格式要求的，你可以点击“BACK”回到前面的表单检查信息的正确性，也可以点击“RESET”清空前面所填写的全部内容，并重新填写。</dd>
            <dd>确定信息准确无误了？猛击“NEXT”，你就将成为西电开源社区的一员！</dd>
            </dl>
        </div>
    </form>
</div>
<div class="button">
    <div class="back">
        <img src="/static/img/back.png" alt="NEXT" />
    </div>
    <div class="reset">
        <img src="/static/img/reset.png" alt="NEXT" />
    </div>
    <div class="next">
        <img src="/static/img/next.png" alt="NEXT" />
    </div>

</div>
{% endblock %}
{% block style %}
<style type="text/css">
    #wrapper{
        min-width:360px;
        overflow:hidden;
        background-color:rgba(255,255,255,0.5);
        position:absolute;
        top:15%;
        left:50%;
        margin-left:-400px;
        height:480px;
        width:800px;
        z-index:101;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
        -webkit-box-shadow: 0 0 10px #aaa;
        -moz-box-shadow: 0 0 10px #aaa;
        -ms-box-shadow: 0 0 10px #aaa;
        -o-box-shadow: 0 0 10px #aaa;

    }
    #welcome,#base,#groups,#keywords,#confirm{
        height:480px;
        font-size:24px;
        font-weight:bold;
        color:#666;
        overflow:hidden;
    }
    #welcome dl,#confirm dl{padding:0 70px 0 360px;font-size:18px;
        height:480px;}
    #welcome dl{
        background:url(/static/img/opensource.png) no-repeat;
    }
    #confirm dl{background:url(/static/img/confirm.png) no-repeat;}
    #welcome dd,#confirm dd{margin:10px 0;}
    #welcome dt,#confirm dt{font-size:32px;font-weight:bold;margin:20px 0;color:#13acfa}
    .button{position:absolute;bottom:20px;right:0;cursor:pointer}
    h2{
        font-size:36px;
        color:white;
        background-color:#13acfa;
        margin:20px 0 0 0;
        padding:0 10px;
    }
    #wrapper p{
        font-size:18px;
        padding:0 10px;
        background-color:#13acfa;
        color:white;
    }
    #inner{position:absolute;left:0;top:0;
    -webkit-transition:top 1s ease-in-out;
    -moz-transition:top 1s ease-in-out;
    -o-transition:top 1s ease-in-out;
    }
	#error {
		color:red;
	}
	#error span{
		color:green;
	}
	#xdlinux {
		color:green;
	}
    ul{
        list-style:none;
        margin:0 60px 0 0;
        padding:20px;
    }
    li{
        overflow:hidden;
        height:30px;
        border:2px solid #ccc;
        background-color:rgba(255,255,255,0.5);
        padding:0;
        margin-bottom:5px;
        -webkit-transition:border 0.4s ease-out;
        -moz-transition:border 0.4s ease-out;
        -o-transition:border 0.4s ease-out;
    }
    li.focus{
        border:solid 2px #13acfa;
    }
    li.invalid{
        border:solid 2px #E44D26;
    }
    li.required{
        border:solid 2px #FDD901;
    }
    li.valid{
        border:solid 2px #3e3;
    }

    input{
        display:block;
        height:28px;
        border:none;
        font-size:24px;
        width:90%;
    }
    input:focus
    {
        outline:none;
    }
    li .vali{
        color:white;
        width:0px;
        height:32px;
        float:right;
        font-size:18px;
        margin-top:-32px;
        overflow:hidden;
        white-space:nowrap;
        padding:6px 0 6px 32px;
        -webkit-transition:width 0.4s ease-out,background-color 0.2s ease-out;
        -moz-transition:width 0.4s ease-out,background-color 0.2s ease-out;
        -o-transition:width 0.4s ease-out,background-color 0.2s ease-out;
    }
    .focus .vali{
        width:80px;
        background-color:#13acfa;
        background-image:url(/static/img/empty.png);
        background-repeat:no-repeat;
    }
    .invalid .vali{
        width:100px;
        background-color:#E44D26;
        background-image:url(/static/img/invalid.png);
        background-repeat:no-repeat;
    }
    .required .vali{
        width:80px;
        background-color:#FDD901;
        background-image:url(/static/img/required.png);
        background-repeat:no-repeat;
    }
    .valid .vali{
        width:10px;
        background-color:#3e3;
        background-image:url(/static/img/valid.png);
        background-repeat:no-repeat;
    }
    #groups div{float:left;width:320px;height:150px;margin:20px;
        cursor:pointer;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
        border:2px solid #eee;
    }
    #groups div.selected{border:2px solid #13acfa;}
    #groups dl{
        padding:5px 5px 5px 100px;
        text-shadow:0 0 2px #fff;
    }
    #groups dd{
        font-size:0.6em;
        margin:10px 0 0 0;
    }
    #groups dt{color:#13acfa;font-weight:bold;font-size:0.8em;}
    #kws{width:640px;}
    #kws a{display:block;float:left;padding:5px;color:#aaa;padding:20px;cursor:pointer}
    .kw1{font-size:1em;}
    .kw2{font-size:0.8em;}
    #kws a.selected{color:#13acfa;}

</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/validate.js"></script>
<script type="text/javascript">
    var kws=[
    'ftp','iptables','vncserver','WebP','ogg','Java','ADK','Eclipse','Google','Dalvik','Linux','bash','Gnome','Vim','Emacs','grub','Console','KDE','HTML5','Chrome','Webkit','JavaScript','css','JQuery','Django','Python','Ruby','Rails','Firefox','HTTP','Git','zsh'];
    kws.sort(function(a,b){return Math.random()>0.5?1:-1});
    function get_school_name(n){
        var school_name=['卓越工程师','通信工程','电子工程','计算机','机电工程','技术物理','人文','理','经济管理','','','','','软件','微电子','生命科学'];
		if(n[0]=='0'){
			n=n[1];
		}
        return school_name[parseInt(n)]+'学院';
    }
function callback(status,type,match){
    var v=$(this).next('.vali');
    if(status=='valid')
    {
        v.empty()
            if(type=='student_number'){
                v.text('请确认，你来自'+get_school_name(match[1])+'!');

                setTimeout(function(){v.width(v.text().length*18)},200);
            }
    }
    if($(this).data('status')==status)return;
    v.attr({'style':''})
        if(status=='valid')
            v.parent().removeClass().addClass('valid');
        else if(status=='normal')
            v.parent().removeClass();
        else if(status=='required')
            v.empty().text('此项必填').parent().removeClass().addClass('required');
        else if(status=='empty')
            v.empty().text('此项选填').parent().removeClass().addClass('focus');
        else if(status=='invalid')
            v.empty().text('输入不合法').parent().removeClass().addClass('invalid');
    $(this).data('status',status);

}
$(document).ready(
        function(){
        var id=['#name','#sn','#mb','#email','#twitter'];
        $('#form').submit(function(){
            for(var i=0;i<id.length;i++)
            {
            if(!$(id[i]).validate()){
                alert('存在未正确填写的内容，请返回前面的表单检查！');
                return false;
                }
            }
            if(!$('#group').validate(/\d/)){
                alert('存在未正确填写的内容，请返回前面的表单检查！');
                return false;
                }
            var kws=[];
            $('#kws a').each(function(){
                kws.push($(this).text());
                });
            $('#ikw').val(kws.join(','));
            return true;
        })
        $('input').attr({'autocomplete':'off'});
        $('#base li').append('<div class="vali"></div>');
        $('#email').add_validate('email',callback).required(true);
        $('#name').add_validate('name',callback).required(true);
        $('#mb').add_validate('mobile',callback).required(true).number_only();
        $('#twitter').add_validate('twitter',callback);
        $('#sn').add_validate('student_number',callback).required(true).number_only();
        $('#group').number_only();
        $('.next').click(function(){
            var top=parseInt($('#inner').css('top'));
            if(top>-1920){
            if(top==0) setTimeout(function(){ $('#name').focus()},1000);
            else if(top==-480){
            for(var i=0;i<id.length;i++){
            if(!$(id[i]).validate()){alert('请确保信息输入完整，格式合法！');$(id[i]).focus();return;}
            }
            }
            else if(top==-960 && $('#group').val()==""){alert('请选择一个小组！');return;}
            $('#inner').css({'top':top-480});
            }
            else if(top<-1400){
                $('#form').submit();
            }
            })
        $('.back').click(function(){
            var top=parseInt($('#inner').css('top'));
            if(top<0) $('#inner').css({'top':top+480});
            })
        $('.reset').click(function(){
            $('#form')[0].reset();
            $('#base li').removeClass();
            $('#kws a').removeClass();
            $('#groups div').removeClass();
            $('#group').val('');
            $('#inner').css({'top':-480});
            })
        $('#groups div').click(function(){
                $('#groups div').removeClass();
                $(this).addClass('selected');
                $('#group').val($(this).children('input').val());
                })
        var k=$('#kws');
        while(kws.length>0){
            k.append($('<a></a>').text(kws.pop()).addClass(Math.random()>0.5?'kw1':'kw2')
                    .click(function(){$(this).toggleClass('selected')})
                    );
        }
        }
        )
</script>
{% endblock %}

