<!DOCTYPE html>
<title>Xdlinux</title>
<body id="signup">
	{{ error }}
	<form action="/signup" method="post">
	<label for="name">name</label>		<input type="text" name="name" value="">
	<label for="student_num">student_num</label> <input type="text" name="student_num"  >
	<label for="mobile">mobile</label>	 <input type="text" name="mobile" value="" >
	<label for="email">email</label>		<input type="email" name="email" value="" >
	<label for="groups">groups</label>		 <select name="groups"  multiple  size="1">
			<option value="1">WDT</option>
			<option value="2">Android</option>
			<option value="3">Video</option>
			<option value="4">Newbie</option>			
		</select>
<label for="keywords">keywords</label><input type="text" name="keywords" value="" >

		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
</body>