<!DOCTYPE html>
<head>
<title>XDL 2011</title>
</head>
<body>
    <form action="" method="post">
        <div id="base">
            <table>
                <tr>
                    <th>Name 姓名:</th>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td id="nameinfo" colspan="2"></td>
                </tr>
                <tr>
                    <th>Student Number:学号</th>
                    <td><input type="text" name="student_num" /></td>
                </tr>
                <tr>
                	<td id="sninfo" colspan="2"></td>
                </tr>
                <tr>
                    <th>Mobile 手机:</th>
                    <td><input type="text" name="mobile" value="" ></td>
                </tr>
                <tr>
                	<td id="mobileinfo" colspan="2"></td>
                </tr>
                <tr>
                    <th>E-Mail 电子邮箱:</th>
                    <td>
                        <input name="email" type="email" />
                    </td>
                </tr>
                <tr>
                	<td id="emailinfo" colspan="2"></td>
                </tr>
                <tr>
                    <th>Twitter ID:</th>
                    <td>
                        <input name="twitter_id" type="text" />
                    </td>
                </tr>
                <tr>
                	<td id="twitterinfo" colspan="2"></td>
                </tr>
            </table>
        </div>
        <div id="groups">
            {% for group in groups %}
            <div>
                <input type="hidden" value="{{ group.id }}">
                <dl>
                    <dt>{{ group }}</dt>
                    <dd>
                        {{ group.describe }}
                    </dd>
                </dl>
            </div>
            {% endfor %}
        </div>
        <div id="keywords">
        
        </div>
    </form>
</body>
