{% extends "base.html" %}
{% block content %}
<div id="main">
	<p>Congrats! 你是第<strong></strong>位新注册成员!</p>
</div>
{% endblock %}
{% block style %}
<style type="text/css">
	#main {
		margin-top:100px;
		margin-left:50px;
		float:left;
		font-size:2em;
		font-weight:bolder;
		color:#666;
		z-index:101;
		position:fixed;
	}
	#main p{
		line-height:3em;
	}
	strong{
		font-size:3em;
		line-height:80px;
		color:#13ACFA;
	}
	strong:hover{
		color:red;
	}
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
$.getJSON('/count', function(data) {
 	$('strong').html(data.num)
});
</script>
{% endblock %}